body {
    text-align: center;
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(118, 241, 244, 1) 49%, rgba(255, 243, 0, 1) 100%);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

img {
    width: 500px;
    border-radius: 100px;
}

li {
    display: inline;
    float: left;

}



.line1 {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;

}

.line2 {
    height: 6px;
    background-color: black;
    width: 100%;
    margin: 8px auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}



html {
    scroll-behavior: smooth;
}

#AboutMeTxt {
    font-size: 31px;
    color: black;
    font-weight: 700;
    margin-top: 40px;
}

#welcometxt {
    font-size: 32px;
    color: black;
    font-weight: 700;
}

#meinfo {
    width: 40%;
    text-align: center;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 20%);
    background-color: white;
    padding-top: 10;
    padding-bottom: 10;
    border-radius: 5px;
    border-left: 6px solid blue;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 30%;
    margin-top: 25px;
}

#aboutme {
    align-items: center;
    background: linear-gradient(90deg, hsla(186, 100%, 69%, 1) 0%, hsla(217, 100%, 50%, 1) 100%);
    padding-bottom: 25px;
}

#home {
    padding-top: 70px;
}

#homeimg {
    border: 6px solid black;
}

#skillstuff {
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    justify-content: center;
}

#skillimg1 {
    width: auto;
    border-radius: 0px;
    height: 120px;

}

#skill1 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}

#skillimg2 {
    width: auto;
    border-radius: 0px;
    height: 120px;
}

#skill2 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}

#mySkillTXT {
    font-size: 31px;
    color: black;
    font-weight: 700;
    margin-top: 40px;
}

#skillimg3 {
    width: auto;
    border-radius: 0px;
    height: 120px;
}

#skill3 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}

#skillimg4 {
    width: 145px;
    border-radius: 0px;
    padding-top: 20%;
}

#skill4 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}

#skillimg5 {
    width: 120px;
    border-radius: 0px;

}

#skill5 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}

#skillimg6 {
    width: 120px;
    border-radius: 0px;
    padding-top: 15%;
}

#skill6 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}

#skillimg7 {
    width: 190px;
    border-radius: 0px;
    padding-top: 20%;
}

#skill7 {
    background-color: white;
    height: 140px;
    border-radius: 7px;
    padding: 10px;
    border-left: 6px solid blue;
    width: 220px;
    margin: 12.5px;
}